<table class="text-4xl text-center select-none">
    <thead>
        <tr class="bg-primary">
            @foreach(String name in StatNames){
                <td class="cursor-pointer border">@name</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (List<String> row in StatValues) {
            <tr class="odd:bg-white even:bg-grey hover:bg-tertiary">
                @foreach (String stat in row)
                {
                    <td class="border px-3">@stat</td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<String> StatNames { get; set; }
    [Parameter]
    public List<List<String>> StatValues { get; set; }
}

