<nav class="flex bg-white h-20 w-full shadow-lg text-3xl place-items-center py-5 sticky top-0">
	<div class="flex text-7xl select-none font-gugi">
		B<p class="text-primary">B</p>
	</div>
	<div class="flex space-x-12 grow px-12 select-none font-extrabold">
		<NavLink href="/">Home</NavLink>
		<NavLink href="/tournaments">Tournaments</NavLink>
		<NavLink href="/stats">Players</NavLink>
		<NavLink href="/teams">Teams</NavLink>
		<NavLink href="/champions">Champions</NavLink>
	</div>
	<div class="flex bg-tertiary h-12 place-items-center justify-between border border-black text-2xl">
		<textarea class="w-96 h-12 resize-none bg-transparent placeholder:italic placeholder:text-slate-400">Placeholder</textarea>
		<div class="w-10 h-10 bg-black m-2 transition duration-100 hover:bg-tertiary"></div>
	</div>
	<button class="px-8 font-extrabold">Sign In</button>
</nav>

@code{

}