<nav class="flex bg-white h-20 w-full shadow-lg text-3xl place-items-center py-5 sticky top-0">
	<div class="flex text-7xl select-none font-gugi">
		B<p class="text-primary">B</p>
	</div>
	<div class="grow px-12 select-none font-extrabold">
		<NavLink class="p-6 hover:bg-gradient-to-b hover:to-grey hover:from-white hover:via-white rounded-lg" href="/">Home</NavLink>
		<NavLink class="p-6 hover:bg-gradient-to-b hover:to-grey hover:from-white hover:via-white rounded-lg" href="/tournaments">Tournaments</NavLink>
		<NavLink class="p-6 hover:bg-gradient-to-b hover:to-grey hover:from-white hover:via-white rounded-lg" href="/player_stats">Players</NavLink>
		<NavLink class="p-6 hover:bg-gradient-to-b hover:to-grey hover:from-white hover:via-white rounded-lg" href="/teams">Teams</NavLink>
		<NavLink class="p-6 hover:bg-gradient-to-b hover:to-grey hover:from-white hover:via-white rounded-lg" href="/champion_stats">Champions</NavLink>
	</div>
	<div class="flex bg-tertiary h-12 place-items-center justify-between border border-black text-2xl">
		<textarea class="w-96 h-12 resize-none bg-transparent placeholder:italic placeholder:text-slate-400">Placeholder</textarea>
		<div class="w-10 h-10 bg-black m-1 transition duration-300 hover:bg-white"></div>
	</div>
	<button class="px-8 font-extrabold">Sign In</button>
</nav>

@code{

}