
<div class="flex-row">
    <p class="w-full text-white text-center text-6xl">Schedule</p>
    <table class="text-2xl text-center select-none table-fixed overflow-hidden">
        <tbody>
            @for (int i = 0; i < 10; i++) {
                <tr class="even:bg-white odd:bg-grey hover:bg-tertiary cursor-pointer">
                    <td class="border px-3 w-48">TEG Winrate Don't Matter</td>
                    <td class="border"><img class="w-16 m-1 border" src="Images/StatsLogo2.png"></td>
                    <td class="text-4xl border px-3 w-24">3-2</td>
                    <td class="border"><img class="w-16 m-1 border" src="Images/StatsLogo2.png"></td>
                    <td class="border px-3 w-48">Testing</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public List<String> StatNames { get; set; }
}